<div id="breadcrumbs">
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Gerenciar Compras</a></li>
  </ol>
</div>

<div id="panel">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Adicionar items a lista de compras</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="descricao">Decrição</label>
        <input class="form-control" id="descricao" placeholder="Descricao do Item" [(ngModel)]="descricao">
      </div>
      <div class="form-group">
        <label for="nomeItem">Nome do Item</label>
        <input class="form-control" id="nomeItem" placeholder="Nome do Item" [(ngModel)]="nome">

        <div id="botoes">
          <!-- Indicates a successful or positive action -->
          <button id="success" type="button" class="btn btn-success" (click)="adicionar()">Adicionar</button>

          <!-- Indicates a dangerous or potentially negative action -->
          <button id="danger" type="button" class="btn btn-danger">Cancelar</button>

        </div>

      </div>

    </div>
  </div>

</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de compras</h3>
  </div>

  <div>
    <table class="table table-bordered">
      <tr>
        <th>Descrição</th>
        <th>Nome</th>
      </tr>
      <tr *ngFor="let item of items">
        <td>{{item.descricao}}</td>
        <td>{{item.nomeItem}}</td>
      </tr>
    </table>
  </div>
</div>